Body {
  background-color: lightcyan;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border color: gray;
  border-width: 5px;
  width: 5%;
}

h1 {
color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

img:hover {
  background-color: gold; 
}
